<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="unknown">

<head>
    <title>Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/index.css" th:href="@{/css/index.css}"/>
    <link rel="icon" type="image/ico" th:href="@{/favicon.ico}">
</head>

<body>

<div class="calculator">

    <div class="header">
        <h1>Calculator</h1>
        <div class="horizontal_spacer"></div>
        <button class="button" type="button" onclick="clearInput()" aria-label="clear">Clear</button>
    </div>

    <div class="output_box">
        <p id="description" style="font-weight:bold" aria-label="description">Enter values(s) below and select an operation.</p>
        <p id="result" class="optional-line" aria-label="result"></p>
    </div>

    <div class="input_box">
        <form id="operationForm" action="/performOperation" method="POST">
            <p><label for="values" style="font-weight:bold" aria-label="values">Values</label></p>
            <textarea id="values" name="values" rows="4" cols="65"></textarea>
            <input type="hidden" id="operationType" name="operationType" value="">
            <br>
        </form>
    </div>

    <h2>Descriptive Statistics</h2>
    <div class="button_array1">
        <button class="button" type="button" aria-label="sampleStD" onclick="performOperation('sampleStD')">Compute Sample Standard Deviation | one value per line</button>
        <button class="button" type="button" aria-label="populationStD" onclick="performOperation('populationStD')">Compute Population Standard Deviation | one value per line</button>
        <button class="button" type="button" aria-label="mean" onclick="performOperation('mean')">Compute Mean | one value per line</button>
        <button class="button" type="button" aria-label="zScore" onclick="performOperation('zScore')">Compute Z Score | value, mean, stdDev on one line</button>
    </div>

    <h2>Single Linear Regression</h2>
    <div class="button_array2">
        <button class="button" type="button" aria-label="linearReg" onclick="performOperation('linearReg')">Compute Single Linear Regression Formula | one x,y pair per line</button>
        <button class="button" type="button" aria-label="predictY" onclick="performOperation('predictY')">Predict Y from Linear Regression Formula | x, m, b on one line</button>
    </div>

</div>

</body>

<script>
    const resultElement = document.getElementById("result");
    const descriptionElement = document.getElementById("description");
    const outputBox = document.querySelector(".output_box");

    function performOperation(operation) {
        // Get input values and operation type
        const values = document.getElementById("values").value;

        // Send data to the server using AJAX
        fetch("/performOperation", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({values: values, operationType: operation}),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json(); // Parse the response as JSON
            })
            .then(data => {
                // Check the success flag and update the UI accordingly
                if (data.success) {
                    // Success - show the result and operation in the description
                    descriptionElement.innerText = data.operation;
                    resultElement.style.display = "block";
                    resultElement.innerText = data.result;

                    // Change appearance of the output box for success
                    outputBox.style.backgroundColor = "#FFECD7";
                    outputBox.style.color = "#000000";
                    outputBox.style.borderColor = "#FFD67B";
                } else {
                    // Failure - show the error message
                    descriptionElement.innerText = data.error;
                    resultElement.style.display = "none";
                    errorFormat();
                }
            })
            .catch(error => {
                console.error("Error:", error);
                descriptionElement.innerText = "An unexpected error occurred. Please try again.";
                errorFormat();
            });
    }

    function errorFormat() {
        // Change appearance of the output box for error
        outputBox.style.backgroundColor = "#B70F0A";
        outputBox.style.color = "#FFFFFF";
        outputBox.style.borderColor = "#B70F0A";
    }

    function clearInput() {
        document.getElementById("operationForm").reset()
        resultElement.style.display = "none";
        descriptionElement.innerText = "Enter values(s) below and select an operation.";

        // Change appearance of the output box to default
        outputBox.style.backgroundColor = "#FFECD7";
        outputBox.style.color = "#000000";
        outputBox.style.borderColor = "#FFD67B";
    }
</script>

</html>